@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #0c1149;
}

body.lock {
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

input[type=text] {
  font-size: clamp(1rem, 1vw, 1.3rem);
  font-family: "Lato", sans-serif;
}

address {
  font-style: initial;
}

.container {
  width: 100%;
  max-width: clamp(1200px, 66vw, 1700px);
  margin: 0 auto;
  padding: 6rem 1rem 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: left;
}

.title {
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.description {
  font-size: clamp(1rem, 1vw, 1.5rem);
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  height: 55px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 3rem;
  border: 4px solid #F3B31D;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  padding: 0 4rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn:focus-visible {
  color: #fff;
  background: #0c1149;
  border: 4px solid #FF4747;
}

.btn__intro {
  width: 290px;
  background: #0E3AB1;
}

.btn__event {
  color: #000;
  background: #fff;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.btn__about {
  background: #0E3AB1;
  text-align: center;
}

.btn__about:hover {
  background: #FF4747;
  border: 4px solid #FF4747;
}

.btn__join {
  background: #0E3AB1;
  margin-bottom: 1rem;
}

.btn__intro:hover,
.btn__event:hover,
.btn__join:hover {
  color: #fff;
  background: #FF4747;
  border: 4px solid #fff;
}

.modal__close {
  width: clamp(10px, 1vw, 20px);
  height: clamp(10px, 1vw, 20px);
  cursor: pointer;
  -webkit-transform: rotate(45deg) scale(2);
      -ms-transform: rotate(45deg) scale(2);
          transform: rotate(45deg) scale(2);
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.modal__close .arrow__left,
.modal__close .arrow__right {
  display: block;
  background: #0c1149;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
          animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
}

.modal__close .arrow__left {
  width: 2px;
  height: 100%;
  margin-left: -1px;
  -webkit-transform: skewY(45deg);
      -ms-transform: skewY(45deg);
          transform: skewY(45deg);
  top: 0;
}

.modal__close .arrow__right {
  width: 100%;
  height: 2px;
  margin-top: -1px;
  -webkit-transform: skewX(-45deg);
      -ms-transform: skewX(-45deg);
          transform: skewX(-45deg);
  left: 0;
}

.modal__close:hover .arrow__left {
  -webkit-animation: left-out 0.25s forwards, left-in 0.25s forwards 0.25s;
          animation: left-out 0.25s forwards, left-in 0.25s forwards 0.25s;
}

.modal__close:hover .arrow__right {
  -webkit-animation: right-out 0.25s forwards 0.1s, right-in 0.25s forwards 0.35s;
          animation: right-out 0.25s forwards 0.1s, right-in 0.25s forwards 0.35s;
}

@-webkit-keyframes left-out {
  from {
    top: 0%;
    height: 100%;
  }

  to {
    top: 200%;
    height: 0%;
  }
}

@keyframes left-out {
  from {
    top: 0%;
    height: 100%;
  }

  to {
    top: 200%;
    height: 0%;
  }
}

@-webkit-keyframes left-in {
  from {
    top: -100%;
    height: 0%;
  }

  to {
    top: 0%;
    height: 100%;
  }
}

@keyframes left-in {
  from {
    top: -100%;
    height: 0%;
  }

  to {
    top: 0%;
    height: 100%;
  }
}

@-webkit-keyframes right-out {
  from {
    left: 0%;
    width: 100%;
  }

  to {
    left: 200%;
    width: 0%;
  }
}

@keyframes right-out {
  from {
    left: 0%;
    width: 100%;
  }

  to {
    left: 200%;
    width: 0%;
  }
}

@-webkit-keyframes right-in {
  from {
    left: -100%;
    width: 0%;
  }

  to {
    left: 0%;
    width: 100%;
  }
}

@keyframes right-in {
  from {
    left: -100%;
    width: 0%;
  }

  to {
    left: 0%;
    width: 100%;
  }
}

.header__inner {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.header__inner.active {
  background: #0c1149;
  position: fixed;
}

.header__inner.fixed {
  background: #0c1149;
  -webkit-box-shadow: 0 3px 30px #FF4747;
          box-shadow: 0 3px 30px #FF4747;
  position: fixed;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: clamp(1200px, 66vw, 1700px);
  position: relative;
  padding: 0 1rem;
  margin: 0 auto;
}

.nav__menu.active {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation-name: menu;
          animation-name: menu;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes menu {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.logo {
  width: clamp(50px, 3vw, 100px);
  height: clamp(50px, 3vw, 100px);
  cursor: pointer;
  margin: 1rem 0;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.nav__items.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
}

.nav__items::before {
  content: "";
  display: none;
}

.nav__link {
  font-size: clamp(1.1rem, 1vw, 2rem);
  font-weight: 700;
  color: #FFFFFF;
  text-shadow: 3px 3px 5px #000;
  text-decoration: none;
  outline: none;
  padding: 0.25rem 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nav__link:hover,
.nav__link:focus {
  color: #FF4747;
}

.burger__inner {
  display: none;
  height: 82px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.hamburger__effect {
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.hamburger__effect .hamburger__line--top {
  stroke-dasharray: 40 82;
}

.hamburger__effect .hamburger__line--middle {
  stroke-dasharray: 40 111;
}

.hamburger__effect .hamburger__line--bottom {
  stroke-dasharray: 40 161;
}

.hamburger__effect.active {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger__effect.active .hamburger__line--top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}

.hamburger__effect.active .hamburger__line--middle {
  stroke-dashoffset: 23px;
}

.hamburger__effect.active .hamburger__line--bottom {
  stroke-dashoffset: -83px;
}

.hamburger__line {
  fill: none;
  stroke: #FF4747;
  stroke-width: 5.5;
  stroke-linecap: round;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  -o-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/backgrounds.jpg") center/cover no-repeat;
  width: 100%;
  height: 100vh;
  min-height: 580px;
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1rem;
}

.title__intro {
  font-size: clamp(3rem, 5vw, 6rem);
  color: #0E3AB1;
  text-align: left;
  text-shadow: 3px 3px 3px #000;
}

.description__intro {
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-align: left;
  text-shadow: 3px 3px 3px #000;
  color: #fff;
}

.events__inner {
  background: url("../img/background-line.jpg") center/cover no-repeat;
}

.cards__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  max-width: clamp(990px, 55vw, 1190px);
  width: 100%;
  padding: 2rem 0 0;
  margin: 0 auto;
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 23rem;
  min-height: 28rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  border: 4px solid #F3B31D;
  border-radius: 2rem;
  padding: 1rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.card__item:hover {
  -webkit-transform: scale(0.975);
      -ms-transform: scale(0.975);
          transform: scale(0.975);
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 2.5rem 0;
}

.card__logo {
  width: clamp(4rem, 4vw, 5rem);
  height: clamp(4rem, 4vw, 5rem);
}

.card__vs {
  font-size: 2rem;
  color: #fff;
  margin: 0 clamp(1.5rem, 2vw, 3rem);
}

.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: clamp(2rem, 2vw, 4rem);
}

.description__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  font-weight: 400;
  line-height: clamp(2rem, 3vw, 4rem);
  letter-spacing: 2px;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal.active .modal__inner {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.modal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
  padding: 2rem 1rem;
}

.modal__inner {
  width: 100%;
  max-width: 800px;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  -webkit-box-shadow: 0 0 3rem #ff4747;
          box-shadow: 0 0 3rem #ff4747;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.modal__header {
  color: #fff;
  text-align: center;
  background-color: #fe005a;
  border: 3px solid #0c1149;
  padding: 1rem;
}

.modal__header--img {
  background: url("../img/champions-league.jpg") center/cover no-repeat;
}

.modal__header--color {
  background-color: #ff4747;
}

.modal__icon {
  width: 25px;
  height: 25px;
  margin: 1rem;
}

.modal__title {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.teams__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.team__name {
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  text-transform: uppercase;
}

.team__link {
  margin: 1rem;
}

.team__icon {
  width: 35px;
  height: 35px;
}

.modal__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.team__right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.modal__charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}

.chart__item {
  display: grid;
  grid-template-rows: 360px 1fr;
}

.about__inner {
  padding: 6rem 0;
}

.about__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 990px;
  padding-top: 3rem;
  margin: 0 auto;
}

.content__about {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  background-color: #fff;
  padding: 1rem;
}

.description__about {
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  line-height: 2.5rem;
}

.sponsors__inner {
  background: #fff;
  padding: 3rem 1rem;
}

.content__sponsors {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}

.sponsor__item {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.sponsor__item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.sponsor__img {
  max-width: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem;
}

.input {
  color: #4F4F4F;
  width: 100%;
  max-width: 430px;
  height: 55px;
  border: 4px solid white;
  border-radius: 2rem;
  outline: none;
  padding: 0 1rem;
  margin-bottom: 2rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.input:focus {
  border-color: #FF4747;
}

.terms__link:hover,
.terms__link:focus {
  color: #ff4747;
  outline: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer__logo {
  width: clamp(100px, 5vw, 200px);
  height: clamp(100px, 5vw, 200px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.content__footer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  padding: 4rem 0 2rem;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}

.title__footer {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.description__footer {
  font-size: clamp(1.1rem, 1vw, 2rem);
  font-weight: 400;
  line-height: clamp(2rem, 2vw, 3rem);
  letter-spacing: 0.125rem;
  text-align: left;
}

.footer__link {
  font-size: clamp(1.1rem, 1vw, 2rem);
  margin: 1rem 0;
  letter-spacing: 0.125rem;
}

.footer__link a {
  color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer__link a:hover,
.footer__link a:focus {
  color: #FF4747;
  text-decoration: underline;
  outline: none;
}

.footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  margin: 0.5rem;
}

.footer__icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer__icon a:hover,
.footer__icon a:focus {
  background-color: #FF4747;
  outline: none;
}

.footer__icon:first-child {
  margin-left: 0;
}

.footer__icon:last-child {
  margin-right: 0;
}

.footer__rights {
  color: #fff;
  font-size: clamp(0.9rem, 1vw, 1.5rem);
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.about-us__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 3rem 1rem;
  margin-top: 3rem;
}

.about-us__logo {
  width: 150px;
  height: 150px;
  margin-bottom: 50px;
}

.about-us__description {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  width: 100%;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

.about-us__link:hover,
.about-us__link:focus {
  color: #ff4747;
  text-decoration: underline;
  outline: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 2000px) {
  .intro__inner {
    min-height: 890px;
  }
}

@media (max-width: 1150px) {
  .sponsor__item {
    width: 30%;
  }
}

@media (max-width: 900px) {
  .footer__item {
    width: 50%;
  }

  .footer__item.address {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .footer__item.social-media {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__item.services {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__item.about {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .title__footer {
    text-align: center;
  }
}

@media (max-width: 850px) {
  .about__window img {
    display: none;
  }

  .content__about {
    background: url("../img/chelsea-white.jpg") center/cover no-repeat;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .description__about {
    text-align: center;
  }
}

@media (max-width: 770px) {
  .header__inner {
    background: rgba(12, 17, 73, 0.7);
  }

  .nav__items.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav__items::before {
    display: inline-block;
    border-top: 2px solid #FF4747;
    width: 100%;
  }

  .nav__items {
    display: none;
  }

  .burger__inner {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (max-width: 690px) {
  .sponsor__item {
    width: 50%;
  }

  .footer__item {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .title__intro {
    width: min(80%, 330px);
  }
}

@media (max-width: 490px) {
  .btn__about_padding {
    width: 100%;
    padding: 0 1rem;
  }

  .teams__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .team__name {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .team__left,
  .team__right {
    text-align: center;
  }
}

@media (max-width: 390px) {
  .btn__about {
    width: 100%;
    padding: 0 1rem;
  }
}

.webp .intro__inner { background: url(../img/backgrounds.webp) center/cover no-repeat; }

.webp .events__inner { background: url(../img/background-line.webp) center/cover no-repeat; }

.webp .modal__header--img { background: url(../img/champions-league.webp) center/cover no-repeat; }

@media (max-width: 850px) {

  .webp .content__about { background: url(../img/chelsea-white.webp) center/cover no-repeat; }
}